@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", serif;
}

h1 {
  font-family: "Young Serif";
  line-height: 2pc;
  color:  hsl(24, 5%, 18%);
  margin-bottom: 1.5rem;
}

p {
  font-size: 16px;
  color:  hsl(24, 5%, 18%);
  opacity: .75;
}

.container {
  height: 100vh;
}

.image-container {
  background: url("images/image-omelette.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 45%;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}